*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #3a414e;
  --color-secondary: #22195b;
  --color-white: #fff;
  --color-nav: #412fb3;
  --color-text: #797979;
  --color-background: #faf9ff;
  --font-rajdani: "Rajdhani", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* typography */

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-inter);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-text);
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: var(--font-rajdani);
  color: var(--color-primary);
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  font-size: 2.8rem;
}

@media screen and (min-width: 650px) {
  h1 {
    font-size: 4.4rem;
  }
}

h2 {
  font-size: 2.7rem;
  margin-bottom: 0;
}

h3 {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 1.2rem;
}

/* buttons */
.btn {
  padding: 1.7rem 3.2rem;
  border-radius: 30px;
  font-weight: 500;
  transition: background 0.2s;
}

.btn:hover {
  background: var(--color-secondary);
  color: white;
}

.btn__primary {
  background: white;
  border: none;
}

.btn__secondary {
  border: 1px solid var(--color-secondary);
  background: none;
}

@media screen and (max-width: 650px) {
  .btn {
    padding: 1.5rem 2.5rem;
  }
}

/* grid */

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.grid > div {
  border: 1px solid green;
}

@media screen and (min-width: 768px) {
  .grid__1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid__autofit {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* feature */

.feature {
  text-align: center;
  border: 1px solid green;
  padding: 2.5rem 3rem 2rem;
  background: #faf9ff;
  transition: background 0.2s, box-shadow 0.2s;
}

.feature:hover {
  background: var(--color-white);
  box-shadow: 0 10px 30px rgb(204, 203, 203);
}

.feature i {
  font-size: 2.4rem;
  color: var(--color-secondary);
}

.feature__content {
  margin-top: 0.8rem;
}

/* stats and pc description */
.stats__pc {
  border: 1px solid green;
}

.stats__pc .btn {
  margin-top: 2rem;
}

/* block headings */

.block__heading {
  border: 1px solid green;
  text-align: center;
  padding: 1rem 2rem;
}

.block__desc {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .block__desc {
    max-width: 700px;
    margin: 1rem auto;
  }
}

/* testimonial section */
.testimonial {
  border: 1px solid green;
  text-align: center;
  padding: 5rem 3.5rem 2.5rem;
  background: var(--color-white);
}

.name {
  font-weight: 500;
  font-size: 2.2rem;
}

.position {
  margin-top: 0.2rem;
  font-size: 1.4rem;
  color: rgb(122, 122, 131);
}

.testimony {
  margin-top: 2rem;
  font-style: italic;
}

.testimonial__avatar {
  text-align: center;
  position: relative;
  top: 70px;
}

@media screen and (min-width: 768px) {
  .testimonial {
    max-width: 900px;
    margin: 2rem auto;
  }
}

/* list */
.list {
  padding-left: 0;
}
.list li {
  list-style: none;
  margin: 1.5rem;
}

.list a {
  text-decoration: none;
}

/* plans heading */
.plan__type {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.plan__desc {
  margin-top: 0;
}

.plan__price {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 2.4rem;
}

/* plans */

.plans > section {
  padding: 1.6rem 0 3rem;
}

.plans {
  text-align: center;
  background: var(--color-background);
  margin: 3rem;
  transition: background 0.2s, box-shadow 0.2s;
}

.plans:hover {
  background: var(--color-white);
  box-shadow: 0 10px 40px rgb(219, 219, 219);
}

.plans:hover .btn {
  background: var(--color-secondary);
  color: white;
}

.plans .plans__button {
  padding: 4rem 0;
}

.plans .plans__list {
  padding-bottom: 1.5rem;
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
}

/* offered features */

.offered__features {
  padding: 2rem;
  row-gap: 2rem;
  border: 1px solid green;
}

@media screen and (min-width: 768px) {
  .offered__features {
    column-gap: 3rem;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
  }

  .offer__camera {
    align-self: flex-start;
  }

  .offer__paper {
    align-self: center;
    margin-top: 3rem;
  }

  .offer__snowflake {
    align-self: center;
    margin-bottom: 3rem;
  }

  .offer__stopwatch {
    align-self: flex-end;
  }
}

/* brands */

.brands {
  border: 1px solid green;
  justify-items: center;
  padding: 3rem 0;
}

.brands > img {
  border: 1px solid green;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .brands {
    padding: 3rem 3rem 0;
  }
}

/* forms */

.email__add {
  padding: 1.5rem;
  background: #3e4350;
  border: none;
  color: rgb(209, 209, 209);
}

.email__add::placeholder {
  color: var(--color-text);
}

.email__add:focus {
  outline: 0;
}

.btn__submit {
  padding: 1rem 2rem;
  position: relative;
  right: 50px;
  background: var(--color-white);
  border: none;
}

/* nav */
.nav {
  background: none;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.nav__list,
.nav .btn {
  display: none;
}

.nav .fa-bars {
  font-size: 24px;
  color: var(--color-white);
}

.nav__logo {
  height: 20px;
}

@media screen and (min-width: 800px) {
  .nav {
    padding: 3rem 5rem;
  }
  .nav__logo {
    align-self: center;
  }
  .nav .fa-bars {
    display: none;
  }

  .nav__list,
  .nav .btn {
    display: block;
  }

  .nav .btn {
    padding: 1rem 4rem;
    font-weight: 500;
  }

  .nav__list {
    padding-left: 0;
    display: flex;
    border: 1px solid green;
  }

  .nav__list li {
    list-style: none;
    border: 1px solid green;
    margin: 0 2rem;
  }

  .nav__list a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    transition: color 0.2s;
  }

  .nav__list a:hover {
    color: rgb(211, 201, 247);
  }
}

/* banner */

header {
  background: linear-gradient(
    132deg,
    rgba(34, 25, 91, 1) 35%,
    rgba(43, 32, 107, 1) 100%
  );

  height: fit-content;
}

.hero {
  padding: 2.5rem 2.5rem 8rem;
  row-gap: 2rem;
}

.hero > section {
  border: 1px solid green;
}

.hero__banner img {
  width: 100%;
}

.hero__heading,
.hero__desc {
  color: var(--color-white);
}

.hero__content .btn {
  margin-top: 3.5rem;
  font-weight: 600;
}

@media screen and (min-width: 650px) {
  .hero {
    padding: 5rem;
  }
  .hero__banner {
    text-align: center;
  }
  .hero__banner img {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 650px;
  }
  .hero {
    max-width: 1450px;
    margin: 0rem auto;
  }
  .hero__banner img {
    width: 90%;
  }

  .hero__banner {
    align-self: center;
    justify-self: center;
  }

  .hero__content {
    padding-left: 2rem;
  }

  .hero__content {
    max-width: 500px;
    margin: auto;
  }
}

/* awesome feature */

.awesome__feature {
  text-align: center;
  padding: 2rem;
}

.features__awesome {
  margin-top: 5rem;
  row-gap: 20px;
  column-gap: 3rem;
}

@media screen and (min-width: 768px) {
  .features__awesome {
    max-width: 1200px;
    margin: 5rem auto 0;
  }

  .awesome__feature {
    max-width: 1100px;
    margin: auto;
  }
  .features__awesome .feature {
    text-align: left;
  }
  .awesome__feature .stats__pc-content {
    max-width: 700px;
    margin: 1.5rem auto;
  }
}

/* revolution block */
.rev__width {
  background: #faf9ff;
}

.revolution {
  border: 1px solid green;
  padding: 4rem 2.5rem 5rem;
}

.pc__image {
  width: 100%;
  order: 2;
  border: 1px solid green;
  margin-top: 4rem;
}

.revolution__desc .btn {
  margin-top: 2rem;
  padding: 1.5rem 4rem;
  font-weight: 510;
  color: rgb(51, 51, 51);
}

.revolution__desc {
  border: 1px solid green;
}

@media screen and (min-width: 768px) {
  .revolution {
    padding: 4rem 2.5rem 0;
    max-width: 1200px;
    margin: auto;
  }
  .pc__image {
    width: 90%;
    align-self: center;
  }

  .revolution__heading {
    font-size: 3.5rem;
  }

  .revolution__desc {
    align-self: center;
    padding: 2rem 8rem 3rem;
  }
}

/* stats */

.stats {
  grid-template-areas:
    "a"
    "b";

  row-gap: 30px;
}

.stats__image {
  order: -1;
  width: 95%;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .stats__image {
    width: 80%;
  }
}

/* offered features */
.features__offer {
  row-gap: 3rem;
}

.apple__pc {
  width: 85%;
  border: 1px solid green;
  justify-self: center;
}
@media screen and (min-width: 768px) {
  .offer__width {
    max-width: 1200px;
    margin: auto;
  }

  .apple__pc {
    align-self: center;
  }
}

@media screen and (min-width: 1000px) {
  .features__offer {
    column-gap: 5rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .apple__pc {
    align-self: center;
    width: 90%;
    justify-self: center;
  }
}

/* plans block */
.plans__block-width {
  max-width: 1200px;
  margin: auto;
}

.plans__block {
  margin-top: 3rem;
}

/* testimonial block */
.testimonial__block {
  background-color: #faf9ff;
  border: 1px solid green;
  height: fit-content;
  padding: 4rem 3rem 10rem;
}

.testimonial .name {
  margin-top: 3rem;
}

/* footer block */
footer {
  background: #0e1424;
  padding: 5rem 3rem 2rem;
}

.footer__block1 > section {
  border: 1px solid green;

  margin: 0;
}

.products {
  margin-bottom: 1rem;
}

.link__heading {
  color: var(--color-white);
  font-weight: 600;
}

.footer__links {
  padding-left: 0;
  margin-top: 2.5rem;
}

.footer__links li {
  list-style: none;
  margin: 1.5rem 0;
}

.footer__links a {
  text-decoration: none;
  color: var(--color-text);
}

.products .email__add {
  margin-top: 1.2rem;
}

@media screen and (min-width: 768px) {
  footer {
    padding-left: 3rem;
  }
  .footer__block1 {
    grid-template-areas:
      "a b"
      "c d"
      "e e";
    max-width: 1100px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .footer__block1 {
    grid-template-areas: "a b c d e";
    column-gap: 1rem;
    max-width: 1100px;
    margin: auto;
  }

  .link__heading {
    font-size: 1.9rem;
  }

  .footer__block1 .form__product {
    width: fit-content;
  }

  .news__form {
    grid-area: e;
  }

  .products .email__add {
    width: 100%;
    display: block;
  }

  .news__form .btn__submit {
    position: none;
    margin-top: 1rem;
    margin-left: 5rem;
  }
}

/* copy */
.copyright {
  justify-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.copy {
  align-self: center;
  margin-top: 6rem;
}

.medias {
  padding-left: 0;
  align-self: center;
  border: 1px solid green;
}

.medias li {
  list-style: none;
  display: inline;
}

.medias i {
  color: rgb(224, 224, 224);
  border: 1px solid gray;
  padding: 1rem;
  margin: 0.4rem;
  background: rgb(35, 32, 54);
}

@media screen and (min-width: 768px) {
  .copyright {
    margin-top: 5rem;
  }
  .copy {
    margin-top: 0;
    justify-self: left;
  }

  .medias {
    justify-self: right;
  }
}
