<header>
  <!-- nav -->
  <div class="nav">
    <img src="./images/logo.webp" alt="logo" class="nav__logo" />

    <i class="fa-solid fa-bars"></i>

    <ul class="nav__list">
      <li><a href="">Home</a></li>
      <li><a href="">Feature</a></li>
      <li><a href="">Price</a></li>
      <li><a href="">Pages</a></li>
      <li><a href="">contact</a></li>
    </ul>

    <button class="btn btn__primary">Sign Up</button>
  </div>

  <!-- hero -->
  <div class="grid grid__1x2 hero">
    <section class="hero__banner">
      <img src="./images/hero-banner.png.webp" alt="hero__banner" />
    </section>

    <section class="hero__content">
      <h1 class="hero__heading">Advanced software made simple</h1>
      <p class="hero__desc">
        Vel aliquam quis, nulla pede mi commodo tristique nam hac Luctun
        torquent velit felis commodo pellentesque nulla cras vel aliqua quisan
        nulla pede mi commoda
      </p>
      <button class="btn btn__primary">Get Started</button>
    </section>
  </div>
</header>
