<div class="plans normal">
  <section class="plans__heading">
    <h3 class="plan__type">Ultimate</h3>
    <p class="plan__desc">Attend only first day</p>
    <h3 class="plan__price">&dollar;65.00</h3>
  </section>

  <section class="plans__list">
    <ul class="list">
      <li><i class="fa-solid fa-check"></i> Unlimited Entrance</li>
      <li><i class="fa-solid fa-check"></i> Comfortable Seat</li>
      <li><i class="fa-solid fa-check"></i> Paid Certificate</li>
      <li><i class="fa-solid fa-check"></i> Day One Workshop</li>
      <li><i class="fa-solid fa-check"></i> One Certificate</li>
    </ul>
  </section>

  <section class="plans__button">
    <button class="btn btn__primary btn__secondary">Get Started</button>
  </section>
</div>
