<div class="grid grid__1x2 revolution">
  <img src="./images/entertainment_laptop.webp" alt="pc" class="pc__image" />

  <aside class="revolution__desc">
    <h2 class="revolution__heading">
      Leading the Digital Entertainment Revolution
    </h2>
    <p class="revolution__content">
      Molestie lorem est faucibus Faucibus erat phasellus placerat proinint
      aptent pulvinar fusce nostra porta sem platea nec, donec fusce erat
      Molestie lorem est faucibus faucibus erat phasellus placerat proin aptent
      pulvinar fusce nostra port
    </p>
    <button class="btn btn__primary btn__secondary">Know More</button>
  </aside>
</div>
