<div class="rev__width">
  <div class="grid grid__1x2 stats revolution">
    <img
      src="./images/statistics_image.webp"
      alt="pc"
      class="pc__image stats__image"
    />
    <aside class="stats__desc revolution__desc">
      <h2 class="stats__heading revolution__heading">
        Simple Solutions for Complex Connections
      </h2>
      <p class="stats__content revolution__content">
        Molestie lorem est faucibus Faucibus erat phasellus placerat proinint
        aptent pulvinar fusce nostra porta sem platea nec, donec fusce erat
        Molestie lorem est faucibus faucibus erat phasellus placerat proin
        aptent pulvinar fusce nostra port
      </p>
      <button class="btn btn__primary btn__secondary">Know More</button>
    </aside>
  </div>
</div>
