<div class="testimonial__avatar">
  <img src="./images/stephen_avatar.webp" alt="stephen_avatar" />
</div>
<div class="testimonial">
  <h3 class="name">Stephen Mcmilan</h3>
  <p class="position">Executive, ACI Group</p>
  <p class="testimony">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, asperiores?
    Eligendi esse laborum rem voluptate pariatur officiis nostrum laudantium
    quam exercitationem a dignissimos, cumque neque consectetur reprehenderit
    impedit sint sit repudiandae eum sed suscipit quibusdam nam aperiam adipisci
    nesciunt. Ipsum.
  </p>
</div>
